.body{
    background:url('../../public/images/fifth.png');
    background-size: cover;
    
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
  }
  .box input[type="text"] {
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 0px 4px 16px rgba(55, 53, 40, 0.15);
    border-radius: 16px;
    width: 400px;
    height: 58px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 12px;
    /* identical to box height, or 67% */
  
    /* text-align: center; */
  
    color: white;
  }
  .box input[type="text"]:focus {
    outline: none;
  }
  .box input[type="submit"] {
    background: radial-gradient(
      92.4% 626.63% at 7.6% 21.88%,
      #c67af7 0%,
      #ff75c0 42.19%,
      #ffc95f 97.92%
    );
    border-radius: 12px;
    height: 48px;
    width: 125px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 12px;
    /* identical to box height, or 67% */
  
    text-align: center;
  
    color: #ffffff;
    margin-left: -130px;
  }
  .small {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .cont{
    /* margin-top: 200px ; */
    padding: 200px 0;
    color: white;
  }
  .cont h2{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    /* or 120% */
    
    letter-spacing: 1.2px;
    
    color: #FFFFFF;
    
  }
  .field{
      margin-top: 100px;
  }