.head {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 68px;
  /* identical to box height, or 117% */

  text-align: center;
  letter-spacing: 1.2px;

  color: #111111;
}
.p p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 36px;
  /* or 138% */

  color: #111111;
}
.girlbox2 {
  background: #111111;
  box-shadow: 0px 4px 16px rgba(154, 94, 36, 0.15);
  border-radius: 16px 16px 16px 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: auto;
  padding: 20px;
  /* max-width: 340px; */
  color: #ffffff;
}
.girl2 {
  /* display: flex; */
  /* justify-content: flex-start; */
}
.body {
  margin-top: 20px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}
.box input[type="text"] {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(55, 53, 40, 0.15);
  border-radius: 16px;
  width: 400px;
  height: 58px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 12px;
  /* identical to box height, or 67% */

  /* text-align: center; */

  color: rgba(0, 0, 0, 0.37);
}
.box input[type="text"]:focus {
  outline: none;
}
.box input[type="submit"] {
  background: radial-gradient(
    92.4% 626.63% at 7.6% 21.88%,
    #c67af7 0%,
    #ff75c0 42.19%,
    #ffc95f 97.92%
  );
  border-radius: 12px;
  height: 48px;
  width: 125px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 12px;
  /* identical to box height, or 67% */

  text-align: center;

  color: #ffffff;
  margin-left: -130px;
}
.small {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.girl {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.girlBox {
  background: #111111;
  box-shadow: 0px 4px 16px rgba(154, 94, 36, 0.15);
  border-radius: 16px 16px 4px 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: auto;
  padding: 20px;
  /* max-width: 340px; */
  color: #ffffff;
}
.head {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 68px;
  /* or 117% */

  letter-spacing: 1.2px;

  color: #111111;
  text-align: left;
}
.cont1 {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
}
.cont1 ul {
  list-style: none;
  text-align: left;
  margin-top: 20px;
  max-width: 300px;
}
.cont1 li {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #111111;
  margin:10px 0;
}
.future{
  background: url('../../../public/images/furture.png');
  background-size: cover;
}