.header h1 {
  width: 100%;
  transform: translateX(-50%);
  margin-top: 70px;
  margin-left: 50%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.6rem;

  text-align: center;
  letter-spacing: 0.8px;

  color: #111111;
}
.header h4 {
  max-width: 100%;
  margin-top: 40px;
  margin-left: 50%;
  transform: translateX(-50%);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.4rem;

  text-align: center;

  color: #111111;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}
.box input[type="text"] {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(55, 53, 40, 0.15);
  border-radius: 16px;
  width: 400px;
  height: 58px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 12px;
  /* identical to box height, or 67% */

  /* text-align: center; */

  color: rgba(0, 0, 0, 0.37);
}
.box input[type="text"]:focus {
  outline: none;
}
.box input[type="submit"] {
  background: radial-gradient(
    92.4% 626.63% at 7.6% 21.88%,
    #c67af7 0%,
    #ff75c0 42.19%,
    #ffc95f 97.92%
  );
  border-radius: 12px;
  height: 48px;
  width: 125px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 12px;
  /* identical to box height, or 67% */

  text-align: center;

  color: #ffffff;
  margin-left: -130px;
}
.small {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.images{
  margin-top: 40px;
  margin-bottom: 40px;
}
.vector {
  display: flex;
  justify-content: center;
}
.text2 {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 2rem;

  text-align: center;
}
.box2 {
  background: #fefcfa;
  box-shadow: 0px 4px 16px #f4e6d7;
  border-radius: 16px 16px 16px 4px;
  height: 180px;
  max-width: 600px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.5rem;
  /* or 122% */
  display: block;
  margin: auto;
  color: #111111;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.girl {
  display: inline-block;
  display: flex;
  justify-content: center;
  transform: translateX(-350px);
}
.code {
  margin: auto;
  padding: 40px;
  display: block;
  background: #002451;
  font-size: 1rem;
  line-height: 1.6rem;
  max-width: 450px;
  border-radius: 8px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .header h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .header h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 100%;
  }
  .box input[type="text"] {
    width: 300px;
    height: 38px;
  }
  .box input[type="submit"] {
    height: 34px;
    width: 120px;
  }
  .code {
    padding: 20px;
    font-size: 0.85rem;
    line-height: 1.2rem;
  }
  .images li {
    margin-right: 15px;
  }
  .box2 {
    font-size: 1rem;
  }
  .girl {
    transform: translateX(-18rem);
  }
  .text2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

