.nav {
  position: absolute;
  width: 1200px;
  /* height: 80px; */
  left: 50%;
  transform: translateX(-50%);
  top: 8px;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.header {
  margin-left: 60px;
}
.items li {
  display: inline-block;
  margin-right: 40px;
}
.items {
  margin-left: auto;
}
.items ul {
  display: flex;
  list-style-type: none;
}
.tryIt{
  background: #111111;
border-radius: 8px;

/* identical to box height, or 140% */

text-align: center;

color: #FFFFFF;
height: 32px;
padding: 3px;
width: 112px;
}
