.body {
  background: url("../../../public/images/thirdSection.png");
}
.header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  /* identical to box height, or 125% */

  text-align: center;
  letter-spacing: 0.6px;

  color: #ffffff;
  padding-top: 40px;
}
.row {
  margin-top: 50px;
}
.container {
  text-align: center;
}
.container p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  text-align: center;

  color: #ffffff;
}
.bottom{
    background: url("../../../public/images/path3.png");
    background-size: cover;
    height: 63.07px ;
}
